@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fdfdfd; 
  border-radius: 4px; 
}
body::-webkit-scrollbar-thumb {
  background-color: #9400df;
  border-radius: 4px; 
}
ul{
  list-style-type: none;
  color: white;
}

li{
  position: relative;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}
/* NAVBAR */
.Navbar__Logo{
  font-size: 1.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}



.Navbar__Logo-menu{
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.onScroll{
  background: #9400df;
  transition: .8s all ease-in-out;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;

}


/* HERO */
.Hero__arrow{
  font-size: 1.5rem;
  color: rgb(70, 70, 70);

}


/* ABOUT */
.IcoNButtonAbout{
  
  margin-left: .5rem;
  font-size: 1.2rem;
}

.Highlight{
  color:#b72ffc;
  font-weight: 600;
}

/* Proyects */
.IconShowMore{
  margin-left: .5rem;
  font-size: 1.2rem;
}

/* CARD */
.CardHeader__logo{
  font-size: 2rem;
  color: #b72ffc;
  transition: .3s all ease-in-out;
}

.CardHeader__logo:hover{
  color: #9400df;
}

/* CONTACT */
.IcoNButtonContact{
  margin-right: .5rem;
  margin-left: .5rem;
  font-size: 1.2rem;
}

@media (max-width: 575.98px)and (orientation:portrait){
  /* NAVBAR */
  .onScroll{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  /* Proyects */
  .ProyectsFilter__list{
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 1024px) and (orientation:portrait){
    /* NAVBAR */
    .onScroll{
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
    }


    .ProyectsFilter__item{
      margin-right: .8rem;
      margin-left: .8rem;
      font-size: .8rem;
    }
}


